#### Common
.DS_Store
/.env
/.idea
/.vscode
!/.vscode/launch.json
Thumbs.db

#### Project
/__debug_*
*.exe
*.exe~
*.dll
*.so
*.dylib
build/
*.test
*.out
vendor/
test.db
results.csv
screenshots/
*.png
dist/
migration_tests/
